/******************************************************************************
 * Buttons style                                                              *
*******************************************************************************/
.primary-button {
  background: #e53e54;
  border: none;
  color: #fff;
  height: 45px;
  padding: 0 15px;
}
