/******************************************************************************
 * NAVIGATION                                                                 *
 ******************************************************************************/
.site-navigation {
}

.site-navigation-welcome-text {
  background: #e53e54;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  border-radius: 0 0 30px 0;
}

.site-navigation-link {
  float: left;
  margin-left: 15px;
  padding: 19px 0;
  list-style: none;
}

.paginate {
    color: #bbb;
    font-size: 12px;
}

.paginate-form {
    margin-top: 25px;
}

.paginate .page {
    color: #bbb;
    font-size: 12px;
    padding: 10px;
}

.paginate .current-page {
    width: 30px;
    height: 20px;
    text-align: center;
    color: #bbb;
}
