/******************************************************************************
 * STYLE                                                                      *
 ******************************************************************************/
body {
	background: #f1f1f1;
	color: #333;
	margin: 0 auto;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
}

.site-wrap {
  background: #fff;
  border-top: 4px solid #e53e54;
  padding: 0;
  position: relative;
  height: auto;
  min-height: 100%;
}

/** Form controls
-------------------------------------------------*/
input[type="checkbox"],
input[type="radio"] {
	border: 1px solid #b4b9be;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px 4px 0 0;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.1 );
  box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.1 );
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
}

input[type="checkbox"]:checked:before {
  content: "\f00c";
	font: 400 14px/1 FontAwesome;
	color: #e53e54;
}

.text-box {
	display: block;
  margin-bottom: 1.7em;
  height: 33px;
  width: 100%;
  border: 1px solid #bbb;
  padding: 1px 15px;
}

.select-box {
	vertical-align: middle;
  height: 30px;
  border: 1px solid #bbb;
  margin-left: 10px;
  padding: 4px;
}

.screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0px;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	border: 0px none;
}

a  {
	color: #e53e54;
	text-decoration: none;
}

a:hover, a:focus {
	color: #e53e54;
	text-decoration: underline;
}

.fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
}

.fixed .info-* {
  box-shadow: 0 0 10px -1px #999;
}

.reply-editor {
  padding-bottom: 60px;
}

.divider {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin: 14px auto;
    line-height: 0;
    max-width: 400px;
    width: 100%;
}

.divider:after {
      content: "";
      width: 100%;
      background-color: transparent;
      display: block;
      height: 1px;
      border-top: 1px solid #e7e7e7;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      z-index: 1;
}

.divider h5 {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}

.centered {
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 15px auto;
}

.front-login-button {
    margin-bottom: 0;
    margin-top: 0;
}

.sectioner {
    border-bottom: 5px solid #eee;
}

.sectioner-top {
  border-top: 5px solid #eee;
}
