* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

body {
	background: #f1f1f1;
	color: #333;
	margin: 0 auto;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 0;
}

p {
	margin-top: 0;
}

/** Form controls
-------------------------------------------------*/
input[type="checkbox"],
input[type="radio"] {
	border: 1px solid #b4b9be;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px 4px 0 0;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.1 );
  box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.1 );
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
}

input[type="checkbox"]:checked:before {
  content: "\f00c";
	font: 400 14px/1 FontAwesome;
	color: #e53e54;
}

.text-box {
	display: block;
  margin-bottom: 1.7em;
  height: 33px;
  width: 100%;
  border: 1px solid #bbb;
  padding: 1px 15px;
}

.select-box {
	vertical-align: middle;
  height: 30px;
  border: 1px solid #bbb;
  margin-left: 10px;
  padding: 4px;
}

.screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0px;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	border: 0px none;
}

a  {
	color: #e53e54;
	text-decoration: none;
}

a:hover, a:focus {
	color: #e53e54;
	text-decoration: underline;
}

.action-form {
  border: 2px solid #19232d;
  border-radius: 15px;
  color: #19232d;
}

.add-btn,
.action-btn {
	border: none;
	padding: 8px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.add-btn {
	background: #333;
}

.add-btn:hover {
	background: #e53e54;
	color: #fff;
	text-decoration: none;
}

.action-btn {
	background: #e53e54;
	margin: 1.5em 0;
	padding: 8px 20px;
}

.action-btn:hover {
	opacity: .9;
}

.fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
}

.fixed .info-* {
  box-shadow: 0 0 10px -1px #999;
}
