<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /forum/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^forum/(.*)$ forum.php?id=$1 [NC,QSA]
</IfModule>